* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: Outfit;
  background-color: #D5E1EF;
}

.card {
  display: block;
  height: 100%;
  background-color: #fff;
  width: 320px;
  height: 500px;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.text-container {
  margin: 20px;
  text-align: center;
}

.card h1 {
  font-weight: 700;
  /* font-size: 50px; */

}

.card p {
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
}